<h2>Orders list</h2>

<% @orders.each do |row| %>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
    </thead>

    <%s = row.orders_input.gsub(/product_|=|,/, ' ')%>
    <%@order = Hash[*s.split(' ')] %>

    <tbody>
    <%i = 1%>
    <%total_price = 0%>
    <% @order.each do |key,value| %>
      <tr>
        <th scope="row"><%=i%></th>
        <td> <%= Product.find_by(id: key).title %> </td>
        <td> <%= Product.find_by(id: key).price %> </td>
        <td> <%= value%> </td>
      </tr>
      <%i += 1%>
      <%total_price += Product.find_by(id: key).price * value.to_i%>
    <%end%>
    <tr>
      <th></th>
      <td></td>
      <td> Total price: <%= total_price %> rub</td>
      <td></td>
    </tr>
    </tbody>
    <hr />
    <p><%= row.name%></p>
    <p><%= row.phone%></p>
    <p><%= row.address%></p>
    <p><%= row.created_at%></p>
  </table>
<%end%>
