<h2>Welcome to Pizza Shop</h2>

<div class="container" >

  <div class="row">

  	<% @products.each do |product| %>

	    <div class="col-md-3">
		    <div>
		     	<b><%= product.title %></b>
		    </div>
		    <div>
		      <img src="<%= product.path_to_image %>" width ="240">
		    </div>
		    <div>
		     	<%= product.description %>
		    </div>
		    <div>
		     	Size: <%= product.size%> cm
		    </div>
		    <div>
		     	Prise: <%= product.price %> rub
		    </div>
		    <div>
				<button class="btn btn-success btn-sm" onclick="add_to_cart(<%=product.id%>)">Add to cart</button>
			</div>
			<br>
		</div>

			
		
    <% end %>

    </div>
  </div>
</div>
<br>
<br>

